.employer-landing-container .itviec-different-container {
     background: linear-gradient(180deg, rgba(255, 223, 223, 0) 29.86%, #FFF6F6 100%);
 }

 @media (min-width: 992px) {
     .ipt-lg-30 {
         padding-top: 120px !important;
     }
 }

 @media (min-width: 992px) {
     .ipx-lg-0 {
         padding-left: 0px !important;
         padding-right: 0px !important;
     }
 }

 .ipt-16 {
     padding-top: 64px !important;
 }

 .ipx-5 {
     padding-left: 20px !important;
     padding-right: 20px !important;
 }

 .text-center {
     text-align: center !important;
 }

 .lg-text, .lg-title {
     font-size: 36px;
     font-weight: 700;
 }

 h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
     line-height: 1.5;
 }

 @media (min-width: 992px) {
     .ipb-lg-0 {
         padding-bottom: 0px !important;
     }
 }

 .ipt-6 {
     padding-top: 24px !important;
 }

 .paragraph {
     font-size: 16px;
     font-weight: 400;
     /* line-height: 1.8 !important; */
 }

 p {
     margin-top: 0;
     margin-bottom: 0;
 }

 @media (min-width: 992px) {
     .employer-landing-container .itviec-different-container .content-wrapper {
         background-position: center center;
     }
 }

 .employer-landing-container .itviec-different-container .content-wrapper {
     background-image: url(https://itviec.com/assets/employer_landing/round-7b576a0….svg);
     background-position: bottom;
     background-repeat: no-repeat;
 }

 @media (min-width: 992px) {
     .ipb-lg-30 {
         padding-bottom: 120px !important;
     }
 }

 @media (min-width: 992px) {
     .ipt-lg-22 {
         padding-top: 88px !important;
     }
 }

 @media (min-width: 992px) {
     .ipx-lg-5 {
         padding-left: 20px !important;
         padding-right: 20px !important;
     }
 }

 @media (min-width: 992px) {
     .d-lg-flex {
         display: flex !important;
     }
 }

 .align-items-center {
     align-items: center !important;
 }

 .justify-content-center {
     justify-content: center !important;
 }

 .employer-landing-container .itviec-different-container .content-box img {
    top: -40px;
}

.position-absolute {
    position: absolute !important;
}

.imt-2 {
    margin-top: 8px !important;
}

.normal-text {
    font-size: 16px;
    font-weight: 400;
}

.employer-landing-container .itviec-different-container .large-number {
    font-size: 40px;
    text-shadow: 4px 4px 0px #ffdfdf;
}

.fw-700 {
    font-weight: 700 !important;
}

.text-it-red {
    color: #ed1b2f !important;
}

@media (min-width: 992px) {
    .employer-landing-container .itviec-different-container .content-box {
        flex: 1;
        max-width: 428px;
    }
}

.employer-landing-container .itviec-different-container .content-box {
    height: 180px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .06);
}

.irounded-lg, .border-radius-large {
    border-radius: 8px;
}

@media (min-width: 992px) {
    .imx-lg-7 {
        margin-left: 28px !important;
        margin-right: 28px !important;
    }
}

@media (min-width: 992px) {
    .imt-lg-0 {
        margin-top: 0px !important;
    }
}


element.style {
}
@media (min-width: 992px) {
    .employer-landing-container .itviec-different-container .content-box {
        flex: 1;
        max-width: 428px;
    }
}
.employer-landing-container .itviec-different-container .content-box {
    height: 180px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, .06);
}
.irounded-lg, .border-radius-large {
    border-radius: 8px;
}
@media (min-width: 992px) {
    .imx-lg-7 {
        margin-left: 28px !important;
        margin-right: 28px !important;
    }
}
@media (min-width: 992px) {
    .imt-lg-0 {
        margin-top: 0px !important;
    }
}
.imt-16 {
    margin-top: 64px !important;
}

.bg-white {
    --i-bg-opacity: 1;
    background-color: rgba(var(--i-white-rgb), var(--i-bg-opacity)) !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.flex-column {
    flex-direction: column !important;
}

.position-relative {
    position: relative !important;
}

.d-flex {
    display: flex !important;
}

.employer-landing-container .itviec-different-container .content-wrapper {
    background-image: url(https://itviec.com/assets/employer_landing/round-7b576a0….svg);
    background-position: bottom;
    background-repeat: no-repeat;
}

